/*body {
padding: 0;
  margin: 0;
}*/

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
}

/* HEADER*/

.header {
  display: grid;
}

.first-section {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.first-section button {
  background-image: url(./Icons/icons8-suche-100.png);
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  margin-left: 3rem;
}

.first-section input {
  border-radius: 10px;
  height: 2rem;
  border-style: none;
  margin: 1rem;
  margin-left: 0;
  background-color: rgb(246, 246, 168);
  margin-right: 2rem;
  font-family: monospace;
}

/*SECOND SECTION*/

.second-section {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  font-family: monospace;
}

.second-section div {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

.second-section div div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.name-big,
.welcome {
  margin: 0;
}

.logo-big,
.logo-small {
  margin: 1rem;
}

.header-btn {
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  border-style: solid;
  font-family: monospace;
  background-color: darkslategray;
  color: white;
}

/*SIDEBAR*/

.sidebar {
  grid-row: 1/5;
  background-color: #ffcab0;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  font-family: monospace;
  align-items: center;
  justify-content: center;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  margin-top: 2rem;
}
.dashboard-header img {
  width: 2rem;
  margin-right: 1rem;
}

.ul-1,
.ul-2 {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

li img {
  width: 1.5rem;
  margin-right: 1rem;
}
/*MAIN CONTENT*/

.main-content {
  grid-row: 2/5;
  background-color: #ffebbb;
}
