/*body {
padding: 0;
  margin: 0;
}*/

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 1fr 1fr 1fr;
}

/* HEADER*/

.header {
  display: grid;
}

.first-section {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 2fr;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}

.first-section button {
  background-image: url(./Icons/icons8-suche-100.png);
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  border-style: none;
  margin-left: 3rem;
}

.first-section input {
  border-radius: 10px;
  height: 2rem;
  border-style: none;
  margin: 1rem;
  margin-left: 0;
  background-color: #f4a361c2;
  margin-right: 2rem;
  font-family: monospace;
}

/*SECOND SECTION*/

.second-section {
  display: grid;
  align-items: center;
  grid-template-columns: 5fr 1fr 1fr 1fr;
  font-family: monospace;
}

.second-section div {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 2rem 0 2rem;
}

.second-section div div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.name-big,
.welcome {
  margin: 0;
}

.logo-big,
.logo-small {
  margin: 1rem;
}

.header-btn {
  width: 5rem;
  height: 2rem;
  margin-top: 1rem;
  border-radius: 10px;
  border-style: solid;
  font-family: monospace;
  background-color: #7eb5a6;
  color: white;
}

/*SIDEBAR*/

.sidebar {
  grid-row: 1/5;
  background-color: #f4a261;
  display: grid;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  font-family: monospace;
  align-items: center;
  justify-content: center;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10rem;
  margin-top: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}
.dashboard-header img {
  width: 2rem;
  margin-right: 1rem;
}

.ul-1,
.ul-2 {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 15px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: #333333;
}

li img {
  width: 1.5rem;
  margin-right: 1rem;
}
/*MAIN CONTENT*/

/*LEFT SIDE*/

.main-content {
  grid-row: 2/5;
  background-color: #ffebbb;
}

.main-content-header {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
  font-family: monospace, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  text-decoration: underline;
}
.left-content {
  font-family: monospace;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.left-content p {
  font-family: Lucida;
  padding: 10px;
}

.left-content h2 {
  padding: 1rem;
  margin: 0;
}

.main-grid-item {
  background-color: #f5f5f5;
  color: #333333;
  border-radius: 10px;
  border-left: solid 8px #ffcab0;
  margin: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}
